* {
  font-family: 'Asap', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.bg {
  background-color: #1A1A2E;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  border-radius: 2vh;
  background-color: #EEEEEE;
  /* padding: 5vh 10vh; */
  padding: 10px 100px 10px 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


#input {
  display: flex;
  flex-direction: column;
}


button {
  border: none;
  color: aliceblue;
  border-radius: 0.5vh;
}

input {
  border: none;
  color: rgb(27, 27, 27);
  border-radius: 0 0.5vh 0.5vh 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.btn {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
}

#btn {
  display: flex;
  flex-direction: column;
}

p {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  color: #0F3460;
}

#logo {
  padding: 5px 5px;
  background-color: rgb(226, 223, 223);
  border-radius: 0.5vh 0 0 0.5vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

span {
  color: #E23E57;
  font-weight: 100;
}

.same{
  background-color: #E23E57;
  color: #2A2438;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.heading{
  font-size: xx-large;
  color: #2A2438;
}